##King David Consulting LLC Ionice Template

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
#Logs
*.log

## Visual Studio 2015 files excluded from the proejct checkins
.vs/
bin/
bld/

## Bower Sources
bower_components
src/assets/lib
!src/assets/lib/custom

## NPM Sources
node_modules/

## TSD Sources
tools/typings/tsd

## Cordova Sources
platforms/
plugins/
## Configurations for app builds that contains private keys
res/native/windows/CordovaApp.pfx
res/native/windows/Package.StoreAssociation.xml
build.json

## Build System
tmp
app/**/*.js
dist/
www/libs/
www/css/
www/js/*
www/templates



## Compiled Tests are not to be included in the source control
tests/all.test.js
karma_html


notes.md



### OSX template
.DS_Store
.AppleDouble
.LSOverride
.io-config.json